name: tests

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Do not test on "pypy-3.8" because scipy fails to install there
        python-version: ["3.7", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install GraphBLAS (ubuntu)
        if: contains(matrix.os, 'ubuntu')
        run: |
          mkdir -p grb
          cd grb
          wget --quiet https://anaconda.org/conda-forge/graphblas/7.4.4/download/linux-64/graphblas-7.4.4-hcb278e6_0.conda
          unzip graphblas-7.4.4-hcb278e6_0.conda
          tar xvf pkg-graphblas-7.4.4-hcb278e6_0.tar.zst
          cd ..
          echo "FMM_CMAKE_FLAGS=-DCMAKE_MODULE_PATH=${{ github.workspace }}/grb/lib/cmake/SuiteSparse -DGraphBLAS_ROOT=${{ github.workspace }}/grb/" >> $GITHUB_ENV

      - name: Install GraphBLAS (macOS)
        if:
          contains(matrix.os, 'macos')
          # install suite-sparse which includes GraphBLAS and also FindGraphBLAS.cmake
        run: brew install suite-sparse

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DFAST_MATRIX_MARKET_TEST=ON -DFAST_MATRIX_MARKET_TEST_COVERAGE=ON ${{ env.FMM_CMAKE_FLAGS }}

      - name: Build
        run: |
          cmake --build build --config Debug

      - name: Test
        run: |
          cd build
          ctest -C Debug --output-on-failure --verbose

      - name:
          Python Build and Install
          # On some platforms pip uses a temporary build directory but only copies the python/ directory there.
          # This breaks the relative symbolic links to the C++ library. Workaround is to pass the checkout directory
          # as an environment variable so CMakeLists.txt can read it and know where to import the C++ library from.
        run: |
          export FMM_PYTHON_DIR="$(pwd)" && pip install python/.[test] -v
        shell: bash

      - name: Python Test
        run: |
          cd python/tests
          pytest

      - name: Python Test with Coverage
        if: contains(matrix.os, 'ubuntu')
        run: |
          pip install pytest-cov
          cd python/tests
          pytest --cov=fast_matrix_market --cov-report term --cov-report=xml

      - name: Upload Coverage to Codecov
        if: contains(matrix.os, 'ubuntu')
        uses: codecov/codecov-action@v3
        with:
          gcov: true
          gcov_include: include/* # C++ coverage
#        directory: python/tests   # Python coverage. This seems to confuse codecov, disable for now.
